button {
  cursor: pointer;
}
input[type='checkbox'] {
  cursor: pointer;
}

.Readiness_div {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(65, 158, 172, 0.1);
  border-radius: 20px;
  margin: 3rem;
}

.left_inner {
  display: flex;
  align-items: center;
}

.blue_Slash {
  color: #419eac;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.small {
  font-weight: 500;
  font-size: 16px;
}
.active_breadcrumb_text {
  font-weight: 600;
  font-size: 20px;
  color: #419eac;
}
.divider {
  border-right: 1.5px solid #d9d9d9;
  opacity: 0.5;
  height: 40px;
}

.vertical_divider {
  border-bottom: 0.5px solid #d9d9d9;
}
.headin_tabs {
  padding-bottom: 20px;
  padding: 1rem 2rem;
}
.norms_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.norm_span {
  text-align: center;
  padding: 20px 5px 20px 5px;
  width: 30%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #919b9b;
}
.grey_norm {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #919b9b;
  text-align: center;
}
.norm_span:first-of-type {
  border-bottom-left-radius: 3px;
}
.norm_span:last-of-type {
  border-bottom-right-radius: 5px;
}
.active_norm {
  color: #419eac;
  border-bottom: 1.5px solid #419eac;
}
.assesment {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #919b9b;
}
.stress {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #419eac;
}
.greyed {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #d9d9d9;
}
.grey_divider {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #d9d9d9;
}
.end_impersonation {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #ff8c39;
}
.modal_title_div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.orange {
  background: #ff8c39;
  color: #ffffff;
  margin-top: 30px;
}
.adminClntImpMenuu{
  display: none;
}
.agency_list_mblMenu{
  display: none;
}
#tooltipMLx{
  display: none;
}
@media only screen and (max-width: 767px) {
  #tooltipMLx{
    display: none;
    background-color: white !important;
    width: 180px;
    margin: auto;
    position: absolute;
    top: 78%;
    border-radius: 18px;
    padding: 4%;
    gap: 1rem;
    padding-left: 6%;
    left: 40%;
    color: black !important;
    font-weight: normal !important;
    font-size: 12px !important;
  }
  .tooltip_itemx{
    padding-top: 10px;
  }

  .breadcrumb_text{
    display: block;
    font-size: 13px !important;
    margin-right: 20px !important;
  }
  /* .breadcrumb_div{
    background-color: #919b9b;
  } */
  
  .impBreadDivxx{
    display: block;
  }
  .agency_list_mblMenu{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    background-image: url("../../images/LandingImages/BG.svg");
    display: none;
   }
   .logo_menu {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
  }
  .mob_navlinks_div{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
  }
  .navlink_mob {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
    padding: 8px;
    text-decoration: none;
  }
  .mob_navlinks_div{
    padding-top: 50px;
    /* padding-bottom: 40%; */
    /* padding-right: 10%;
    padding-left: 10%; */
    width: 100%;
  }
  .WrapIconNname{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: auto;
    /* padding: 0% 10% 0% 30%; */
  }
  /* .WrapIconNname:hover {
    background-color: rgba(138, 192, 200, 1);
  } */
  .menuIcon_Div{
    width: 25px;
    margin-right: 12px;
  }
  
  .menuIcon_Div img{
    width: 100%;
  }
  .menu_name_lsitx{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* color:#FFFFFF; */
    color: #454238;
  }
  .menu_name_2x{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color:#FFFFFF; 
  }
  .inner_mob_nav_div{
    padding: 3.5% 0% 3.5% 0%;
    width: 100%;
  }
  .contactSuprtBtnDiv{
    width: 80%;
    margin: auto;
  }
  .cntctSupportBtn{
    padding: 15px 30px;
    width: 100%;
    margin: auto;
    font-family: "poppins";
    font-size: 16px;
    font-weight: 600;
    color:#419EAC;
    background-color:rgba(255, 255, 255, 1) ;
    border-radius: 30px;
    border: none;
    margin-top: 150px !important;
  }
  .nameNactionsDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    margin: auto;
    padding-top: 10%;
  }
  #adminClientImpersonate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    border: 1px solid #eceeef;
    border-radius: 20px;
    font-size: small;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.4rem;
    padding-right: 0.7rem;
    width: 100%;
    background-color: transparent;
    color: #919b9b;
  }
  .adminClntImpMenuu{
    display: block;
    width: 50px;
    padding-left: 8px;
    padding-top: 4px;
  }
  #adminClientImpersonatex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.6rem;
    border: 1px solid #eceeef;
    border-radius: 20px;
    font-size: small;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.4rem;
    padding-right: 0.7rem;
    width: 100%;
    background-color: transparent;
    color: #919b9b;
    margin-top: 10px;
  }
  .active_breadcrumb_text {
    font-size: 14px !important;
  }
  .greyed {
    font-weight: 500;
    font-size: 16px;
  }
  .stress {
    font-weight: 500;
    font-size: 16px;
  }
  .make_changes{
    padding-top: 15px;
  }
  .assesment {
    font-size: 16px !important;
  }
  .norm_span {
    font-weight: 500;
    font-size: 17px;
  }
  .blue_Slash {
    font-size: 16px;
  }
  .grey_norm {
    padding-left: 4% !important;
  }
}
