.reset {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset_content {
  text-align: center;
  width: 30%;
}

img.reset_logo {
  width: 50%;
  /* width: 140px; */
}
.reset_heading {
  font-size: 28px;
  color: var(--text-primary);
  font-weight: 600;
}
.reset_description {
  color: var(--text-grey-1);
  font-size: 18px;
  margin-bottom: 20px;
}

.reset .input_label {
  color: var(--text-grey-1);
  font-size: 16px;
}
.password_field {
  width: 100%;
  position: relative;
  height: fit-content;
  top: 0;
  bottom: 0;
}

.reset .input_field {
  color: #000;
  border-radius: 24px;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px 20px;
}

.input_field:focus-visible {
  outline: none !important;
  box-shadow: none;
  /* border: 1px solid #2f2f !important;
  box-shadow: none; */
}

.input_field:focus {
  box-shadow: none !important;
  /* border: 1px solid var(--text-primary) !important; */
  border-color: transparent !important;
  outline: 2px solid var(--text-primary) !important;
  /* border: 1px solid #2f2f !important;
    box-shadow: none; */
}

.input_field::placeholder {
  color: var(--text-grey-2) !important;
}

.reset .eye_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.reset .forgot_link {
  color: var(--text-primary);
  width: 100%;
  font-size: 14px;
  text-align: right;
  display: block;
  text-decoration: none;
  margin-top: 7px;
}

.reset .submit_btn {
  width: 100%;
  background-color: var(--bg-primary);
  font-size: 18px;
  color: var(--text-white);
  padding-block: 10px;
  border: none;
  margin-top: 40px;
  border-radius: 25px;
}

@media screen and (max-width: 767px) {
  .reset_content {
    text-align: center;
    width: 80%;
  }
}